 html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Cuprum', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
input{
	outline: none;
	border: none;
}
.b-input-text{
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 30px 0 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid #e0e0e0;;	
}
.b-input-text.error{
	border-color: red !important;
}
.b-input-text.valid{
	border-color: #219653 !important;
}
.b-input-text::-webkit-input-placeholder{
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;	
}
.b-input-text:-moz-placeholder{
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;	
}
.b-input-btn{
	width: 220px;
	height: 60px;
	text-align: center;
	padding: 0 20px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	margin: 30px auto 0;
}
.blue-btn{
	transition: 0.3s;
}
.blue-btn:hover{
	background: #24aefd;
	transition: 0.3s;
}
.blue-btn:active{
	background: #0077bb;
	transition: 0.3s;
}
label.error{
	display: none !important;
}
.b-checkbox{
    display: block;
}
.b-checkbox input[type="radio"]{
    display: none;
}
.b-checkbox input[type="radio"] + label span{
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #64c3f9;
	border-radius: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 6px 0 0;
	position: relative;
}
.b-checkbox input[type="radio"] + label span:before{
	position: absolute;
	content: "";
	background: #64c3f9;
	display: block;
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -5px;
	border-radius: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.b-checkbox input[type="radio"] + label{
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-checkbox input[type="radio"]:checked + label span{
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #64c3f9;
	border-radius: 100%;
}
.b-checkbox input[type="radio"]:checked + label span:Before{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;	
}
.b-checkbox input[type="radio"]:checked + label{
    color: #000000;
}
.b-checkbox input[type="radio"] + label i{
	color: #6a6c6e;
	font-family: "ProximaNova";
	font-size: 17px;
	font-weight: 400;
	line-height: 19px;
    font-style: normal;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.b-checkbox-two input[type="radio"] + label span{
	width: 23px;
	height: 23px;
	border: 2px solid #cdd5dd;
	border-radius: 0px;
}
.b-checkbox-two input[type="radio"] + label span:before{
	display: none;
}
.b-checkbox-two input[type="radio"]:checked + label span{
	width: 23px;
	height: 23px;	
	background: url(../images/check.png) center no-repeat transparent;
	border-color: #64c3f9;
	border-radius: 0px;
}

select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 54px;
	border: 1px solid #d6dfcc;    
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #ffffff url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{

}
.fancybox-container{
	z-index: 999999;
}


/* End Total css ====*/

/* -------------- page index -------------- */
.b-header{

}
.b-header-top > .container > .row > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-logo{
	font-family: "ProximaNova";
	padding: 5px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
	line-height: 26px;
	color: #ffffff;
	display: block;
	width: 130px;
	position: relative;
	text-decoration: none;
}
.b-logo:hover{
	text-decoration: none;
}
.b-logo:before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: #64c3f9;
    width: 100%;
    height: 56%;
    z-index: 1;
}
.b-logo span{
    position: relative;
    z-index: 2;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
.b-logo b{
	font-family: "ProximaNova";
	font-weight: 700;
    color: #fff;
}

.b-header-right{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	border: 1px solid #e0e8f0;
	border-radius: 20px;
}
.btn-callback{
	width: 177px;
	height: 46px;
	background: #64c3f9;
	border-radius: 20px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}
.b-phone{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	color: #212529;
	font-size: 17px;
	font-weight: 400;
	line-height: 19px;	
	padding: 0 10px 0 20px;
	text-decoration: none;
}
.b-menu{
	margin: 30px 0 0 0;
}
.b-menu__wrap{

}
.b-menu__wrap ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}
.b-menu__wrap ul li{
	list-style: none;
}
.b-menu__wrap ul li a{
	text-decoration: none;
	display: block;
	color: #212529;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 22px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;
	transition: 0.3s;
}
.b-menu__wrap ul li a:hover{
	border-color: #88551a;
	transition: 0.3s;
}
/* -------------- b-main -------------- */
.b-main{
	background: url(../images/b-main-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 26px 0 40px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 630px;
}
.b-main > .container > .row > div{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-main-left{
	padding: 70px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-title{
	color: #ffffff;
	font-size: 58px;
	font-weight: 700;
	line-height: 66px;
	text-transform: uppercase;
	margin: 0 0 50px 0;
}
.b-main-content{
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
.b-main-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 300px;
	margin: 0 0 50px 0;
}
.b-main-item__ico{
	width: 54px;
	height: 54px;
	background: url(../images/b-main-item__ico.png) center no-repeat #64c3f9;
	margin: 0 13px 0 0;
	border-radius: 100%;
	flex-shrink: 0;
}
.b-main-item p{
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	text-transform: uppercase;
	margin: 0;
}
.b-main-title span{
	color: #64c3f9;
}
.b-main-right{
	width: 394px;
	height: 563px;
	background: #ffffff;
	border: 5px solid #64c3f9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 0 49px rgba(30, 27, 28, 0.36);
	flex-shrink: 0;
	margin: 0 0 0 100px;
	padding: 25px 35px;
}
.b-main-right__title{
	margin: 0 0 15px 0;
}
.b-main-right__title span{
	display: block;
	color: #212529;
	font-family: "ProximaNova";
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
}
.b-main-right__row{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-main-right__row .b-checkbox{
	margin: 0 20px 0 0;
}
.b-main-right__row .b-checkbox:last-child{
	margin: 0;
}
.b-main-right__block{
	margin: 0 0 16px 0;
}
.b-main-input{
	width: 100%;
	height: 36px;
	border: 2px solid #cdd5dd;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-main-input__sm{
	width: 95px;
}
.b-main-input__big{
	height: 50px;
}
.b-main-btn{
	width: 319px;
	height: 61px;
	background: #64c3f9;
	border-radius: 30px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}
/* -------------- b-catalog -------------- */
.b-catalog{
	padding: 75px 0 25px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-title{
	text-align: center;
	margin: 0 0 80px 0;
}
.b-title-item{
	color: #88551a;
	font-size: 40px;
	font-weight: 700;
	line-height: 52px;
	text-transform: uppercase;
	margin: 0;
}
.b-catalog-content{

}
.b-catalog-item{
	border: 1px solid #e0e8f0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 30px 0;
}
.b-catalog-item__img{
	border-bottom: 1px solid #e0e8f0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 223px;
}
.b-catalog-item__img img{

}
.b-catalog-item__content{
	text-align: center;
	padding: 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-catalog-item__content span{
	display: block;
	color: #88551a;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;	
}
.b-catalog-item__content b{
	display: block;
	color: #88551a;
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	margin: 23px 0;	
}
.btn-order{
	width: 164px;
	height: 39px;
	background: #64c3f9;
	border-radius: 20px;
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;
	line-height: 22px;
	display: block;
	margin: 0 auto 0;
}
/* -------------- b-about -------------- */
.b-about{
	text-align: center;
	background: url(../images/about-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 60px 0 90px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-about .b-title-item{
	color: #ffffff;
	margin: 0 0 40px 0;
}
.b-about p{
	color: #ffffff;
	font-family: "ProximaNova";
	font-size: 19px;
	font-weight: 600;
	line-height: 32px;
	margin: 0 0 45px 0;
}
.b-about .b-main-btn{
	width: 369px;
}
/* -------------- b-info -------------- */
.b-info{
	padding: 70px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-info-content{

}
.b-info-content > .row{
	margin: 0;
}
.b-info-content > .row > div{
	padding: 0;
}
.b-info-item{
	position: relative;
}
.b-info-item__img{

}
.b-info-item__wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.b-info-item__text{
	width: 100%;
    background: rgba(27, 30, 33, 0.63);
	text-align: center;
	padding: 12.5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-info-item__text span{
	display: block;
	color: #ffffff;
	font-family: "ProximaNova";
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}